@import "../../../styles/globals.scss";

.custom-search-box{
    max-width: 1100px;
    transform: translate(-50%, 54px);
    width: calc(100% - 10px);
}

.custom-search-box-layout{
    background-color: $search-box-background;
}

.search-box-button{
    background-color: $component-background!important;
    font-size: 20px!important;
    &:hover{
        background-color: $header-background!important;
        transition: all 0.15s;
    }
}
// hạ sách khi config bằng token nhưng không hoạt động
.custom-search-error .ant-alert-message{
    color: white!important;
}

@media(max-width: 900px){
    .custom-search-box-layout{
     flex-direction: column!important;
    }
    .search-box-button{
     min-height: 52px;
    }
 }


