@import "../../../../../styles/globals.scss";

.area-list {
    margin-top: 16px;
    margin-bottom: 32px;

    .area-list-content {
        .area-list-content-location {
            display: block;
            font-weight: 500;

            &:hover {
                color: $text-color-primary;
                font-weight: 500;
                text-decoration: underline;
            }
        }

        .area-list-content-description {
            display: block;
            color: $text-color-description;
        }
    }
}
