.basic-info-prev-button:hover{
    background-color: #eff6fe!important;
    transition: all 0.1s!important;
}

.basic-info-next-button:hover{
    background-color: #0057b8!important;
    transition: all 0.1s!important;
}

.basic-info-input:focus{
    outline: none;
    border-color: #006ce4;
    
}

//override css thư viện
.leaflet-bottom,
.leaflet-pane,
.leaflet-control,
.leaflet-top{
    z-index: 0!important;
}

.create-listing-container{
    background-color: #f9f9f9!important;
}