.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin: auto;
    color: "#fff" !important;
    height: 72px;
    background-color: #003b95 !important;
}
