.custom-swiper {
    
  .swiper-button-prev {
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;

    &::after {
      font-size: 12px;
      color: #1a1a1a;
      font-weight: 700;
    }
  }

  .swiper-button-next {
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;

    &::after {
      font-size: 12px;
      color: #1a1a1a;
      font-weight: 700;
    }
  }

  .swiper-button-disabled {
    display: none;
  }
}
