.custom-menu-account {
    padding: 8px 0 !important;
    .ant-menu-item {
        margin: 0 !important;
        width: 100% !important;
        border-radius: unset !important;
        &:hover {
            background-color: #1a1a1a0f !important;
        }
    }
}
