@import "../../styles/globals.scss";

.custom-ant-header {
  height: 320px;
  background-color: $header-background !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 8px !important;
}
