.ant-form {
  .ant-form-item {
    .ant-form-item-label {
      padding-bottom: 4px !important;
      label {
        font-weight: 500 !important;
      }
    }
    .ant-form-item-control {
      .ant-form-item-control-input {
        .ant-form-item-control-input-content {
          .ant-input {
            padding: 4px 8px !important;
            line-height: 2 !important;
          }
        }
      }
    }
  }
}
